.center.hero-unit
	%h1 Bienvenido al Tuiter_v2
	%h2
		Esta es la pagina principal de
		= link_to "Tuiter_v2", root_path
		%br
		= link_to "Registrate ahora!", '#', class: "btn btn-large btn-primary"
= link_to image_tag("rails.png", alt: "Rails"), root_path
