%header.navbar.navbar-fixed-top
	.navbar-inner
		.container
			= link_to "Tuiter_v2", root_path, id: 'logo'
			%nav
				%ul.nav.pull-right
					%li= link_to "Home", root_path
					%li= link_to "Ayuda", help_path
					%li= link_to "Registro", registro_path
					